{
  "aws_secret":"",
  "aws_token":"",
  "s3_bucket":"",
  "s3_region":"",
  "s3_prefix":"",
  "secret_token_salt":"",
  "barc_path": "",
  "use_https": false,
  "ssl_cert_path":"",
  "ssl_key_path":"",
  "ssl_chain_path":""
}
